.container.journal{
  flex-direction: column;
  .container__Journal{
    flex-direction: column;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .biography{
      margin-top: 60px;
      width: 1000px;
      max-width: 95%;
      .coverPhotoDiv{
        width: 100%;
        height: auto;
        align-items: center;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 650px) {
          margin-bottom: 20px;
        };
          
      }
      
      .inputBox{
        .input-element-div__dedications{
          
          .enabled{
            border-width: 1px 1px 1px !important;
            border-radius: 10px;
          }
        
          .disabled{
              border-radius: 10px;
          }
        }
      }
    }
  
    .coverPhotoDiv{
      width: 100%;
      height: auto;
      align-items: center;
      display: flex;
      justify-content: center;
      
    }
    .submitButtonDiv{
      font-family: 'Courier New', monospace;
      font-size: 13px;
      background-color: white;
      position: fixed;
      bottom: 30px;
      left: 30px;
      width: 50px;
      height: 50px;
    }
    .addPageDiv{
      background-color: white;
      position: fixed;
      bottom: 30px;
      right: 30px;
      width: 50px;
      height: 50px;
    }
  
    .tableDivContainer{
      @media screen and (max-width: 480px) {
        height: 600px;
      };
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .tableDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-radius: 10px;
        margin-top: 18px;
        box-shadow: 0 5px 16px rgb(0 0 0 / 20%);
        background-color: white;
        opacity: 0.978;
        .tableHeader{
          font-family: 'Courier New', monospace;
          font-size: 1rem;
          border-collapse: collapse;
          width: 100%;
          .tableRow{
            border-bottom: solid rgb(122, 122, 122) .5px;
            width: 100%;
            padding-bottom: .5rem;
            .tableCell{
              width: 25%;
              text-align: center;
              padding: 0.5rem;
              .openButton{
                border-radius: 10px;
              }
            }
          }
        }
        .scrollable{
          height: 328px; /* or any value */
          .table{
            font-family: 'Courier New', monospace;
            font-size: 1rem;
            border-collapse: collapse;
            width: 100%;
            .tableRow{
              border-bottom: solid rgb(122, 122, 122) .5px;
              width: 100%;
              padding-bottom: .5rem;
              .tableCell{
                width: 25%;
                text-align: center;
                padding: 0.5rem;
              }
            }
            .tableRowForButton{
              border-bottom: 0;
              width: 100%;
              padding-bottom: .5rem;
              .tableCell{
                width: 100%;
                padding: 1px;
                height: 50px;
                .addNewEntryButton{
                  width: 50%;
                  margin-left: 24%;
                  float: left;
                  border-radius: 10px;
                }
              }
            }
          }
      
        }
      
      }
    
      .addNewEntryButtonDiv{
        width: 50%;
        .addNewEntryButton{
          background-color: rgb(230, 230, 230);
          border-radius: 25px;
          border-color: rgb(230, 230, 230);
          width: 100%;
        }
      }
    }
    .prefaceDiv{
      @media screen and (max-width: 480px) {
        width: 100%;
      };
      margin-top: 2rem;
      margin-right: 5%;
      width: 33%;
      float: left;
      .inputBox{
        .input-element-div__preface{
          
          .enabled{
            border-width: 1px 1px 1px !important;
            border-radius: 10px;
          }
        
          .disabled{
              border-radius: 10px;
          }
          
          
        }
      }
    }
    
    .submitAndLoginButtonsDiv{
      width: 100%;
      float: left;
      .submitButton{
        float: left;
        margin: 15px;
      };
      .loginButton{
        float: right;
        margin: 15px;
      }
    }
  
  }
}
