.journalPageContainer{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .addFileDiv{
        background-color: white;
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
    }
    .submitButtonDiv{
        font-family: 'Courier New', monospace;
        font-size: 13px;
        background-color: white;
        position: fixed;
        bottom: 30px;
        left: 30px;
        width: 50px;
        height: 50px;
        
    }
    .journalText{
        max-width: 95%;
        width: 1000px;
        display: flex;
        flex-direction: column;
    }
    .fileContainer{
        margin-bottom: 20px;
        margin-top: 20px;
    };

    .recipientEmailsDiv{
        width: 40%;
        margin-top: 37%;
    };
    .photosSection{
        max-width: 95%;
        width: 1000px;
    }

    .logoDiv{
        width: 1100px;
        max-width: 90%;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
        .buttonContainer.left{
            @media screen and (max-width: 1110px) {    
                margin-left: 22px;
            };
            float: left;
            margin-left: 7%;
        };
        .buttonContainer.right{
            @media screen and (max-width: 1110px) {    
                margin-right: 22px;
            };
            float: right;
            margin-right: 7%;
        };
        .buttonContainer{
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            .backButtonDiv{
                width: 50px;
                height: 50px;
                background-color: white;
                
            };
            .lockButton{
                width: 50px;
                height: 50px;
                background-color: white;
            }
            .switchDiv{
                .switchH5{
                    font-family: 'Courier New', monospace;
                }
                max-width: 60%;
                align-items: center;
                display: flex;
                margin-left: 27%;
            }
        }
    }

    .input-element-div__entry{
        .enabled{
            border-width: 1px 1px 1px;
            border-radius: 10px;
            height: 20rem;
        }
        .disabled{
            border-radius: 10px;
            height: 20rem;
        }
        
    }
}