.container{
    .scrollable{
        height: 90%; /* or any value */
        overflow-y: auto;
        width: 100%;
        background-color: transparent;

        .transparentDiv{
            width: 95%;
            height: 75%;
            padding-left: 2.5%;
            padding-top: 4%;
        }
    }
}

