.modalImg{
    max-height: 300px;
    max-width: 300px
}
.modalBox{
    background-color: rgba(52,52,52, 0.95);
    max-height: 370px !important;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #F7931A;
    .modalChildCompoent{
        margin: 60px;
    }
}

.transparent.modalBox{
    background-color: transparent
}