.cameraDiv{
    @media screen and (min-width: 1018px) and (max-width: 1200px) {    
        margin-left: 28%;
    };
    @media screen and (min-width: 885px) and (max-width: 1017px) {    
        margin-left: 26%;
    };
    @media screen and (min-width: 769px) and (max-width: 884px) {    
        margin-left: 23%;
    };
    @media screen and (min-width: 680px) and (max-width: 768px) {    
        margin-left: 19%;
    };
    @media screen and (min-width: 598px) and (max-width: 679px) {    
        margin-left: 14%;
    };
    @media screen and (min-width: 530px) and (max-width: 597px) {    
        margin-left: 8%;
    };
    @media screen and (min-width: 490px) and (max-width: 529px) {    
        margin-left: 3%;
    };
    @media screen and (min-width: 477px) and (max-width: 489px) {    
        margin-left: 2%;
    };
    @media screen and (min-width: 469px) and (max-width: 476px) {    
        margin-left: 1%;
    };
    @media screen and (max-width: 468px) {    
        margin-left: 0;
        width: 100%;
    };
    width: 300px;
    height: 300px;
    margin-left: 33%;

}
.qrCancelButtonDiv{
    width: 90%;
    margin-top: 75px;

    .button{
        border-radius: 10px;
        margin-left: 10%;
        width: 80%;
    }
}
.ApiResponseModalContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ApiResponseModalContentDiv{
        &__success{
            color:seagreen;
            padding-top: 3%;
            text-align: center;
            img{
                @media screen and (max-width: 470px) {    
                    padding-top: 5%;
                    max-width: 42vw;
                    max-height: 42vw;
                };
                @media screen and (min-width: 471px) and (max-width: 550px) {    
                    padding-top: 5%;
                    max-width: 40vw;
                    max-height: 40vw;
                };
                @media screen and (min-width: 551px) and (max-width: 630px) {    
                    padding-top: 5%;
                    max-width: 38vw;
                    max-height: 38vw;
                };
                @media screen and (min-width: 631px) and (max-width: 710px) {    
                    padding-top: 5%;
                    max-width: 36vw;
                    max-height: 36vw;
                };
                @media screen and (min-width: 711px) and (max-width: 790px) {    
                    padding-top: 5%;
                    max-width: 34vw;
                    max-height: 34vw;
                };
                @media screen and (min-width: 791px) and (max-width: 870px) {    
                    padding-top: 5%;
                    max-width: 32vw;
                    max-height: 32vw;
                };
                @media screen and (min-width: 871px) and (max-width: 950px) {    
                    padding-top: 5%;
                    max-width: 30vw;
                    max-height: 30vw;
                };
                @media screen and (min-width: 951px) and (max-width: 1030px) {    
                    padding-top: 4%;
                    max-width: 28vw;
                    max-height: 28vw;
                };
                max-width: 20vw;
                max-height: 20vw;
            }
        }

        &__fail{
            color: red;
            padding-top: 3%;
            text-align: center;
            img{
                @media screen and (max-width: 470px) {    
                    padding-top: 5%;
                    max-width: 42vw;
                    max-height: 42vw;
                };
                @media screen and (min-width: 471px) and (max-width: 550px) {    
                    padding-top: 5%;
                    max-width: 40vw;
                    max-height: 40vw;
                };
                @media screen and (min-width: 551px) and (max-width: 630px) {    
                    padding-top: 5%;
                    max-width: 38vw;
                    max-height: 38vw;
                };
                @media screen and (min-width: 631px) and (max-width: 710px) {    
                    padding-top: 5%;
                    max-width: 36vw;
                    max-height: 36vw;
                };
                @media screen and (min-width: 711px) and (max-width: 790px) {    
                    padding-top: 5%;
                    max-width: 34vw;
                    max-height: 34vw;
                };
                @media screen and (min-width: 791px) and (max-width: 870px) {    
                    padding-top: 5%;
                    max-width: 32vw;
                    max-height: 32vw;
                };
                @media screen and (min-width: 871px) and (max-width: 950px) {    
                    padding-top: 5%;
                    max-width: 30vw;
                    max-height: 30vw;
                };
                @media screen and (min-width: 951px) and (max-width: 1030px) {    
                    padding-top: 4%;
                    max-width: 28vw;
                    max-height: 28vw;
                };
                max-width: 20vw;
                max-height: 20vw;
            }
        }
    }
    .buttonDiv{
        width: 90%;
        text-align: center;
        .button{
            height: 45px;
            border-radius: 10px;
            width: 90%;
        }
    }
}

.sendContentDiv{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .recipientAddressDiv{
        width: 80%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .ammountDiv{
        width: 80%;
    }
    .ModalContentOnSendQRButton{
        text-align: center;
        width: 150px;
        .button{
            border-radius: 10px;
            width: 10rem;
            height: 2rem;
        }
    }

    .ModalContentOnSendButtons{
        width: 100%;
        padding-top: 7%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .button{
            margin: 2.5px;
            width: 125px;
            height: 3rem;
        }
    }
}

.summaryContentDiv{
    h6{
        margin-left: 10px;
    }
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .recipientAddressDiv{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .ammountDiv{
        padding-top: 1%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ModalContentOnSendButtons{
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .button{
            margin: 2.5px;
            width: 125px;
            height: 3rem;
        }
    }
}

.loadGif{
    @media screen and (max-width: 470px) {    
        padding-top: 45%;
        max-width: 50vw;

    };
    @media screen and (min-width: 471px) and (max-width: 550px) {    
        padding-top: 40%;
        max-width: 50vw;

    };
    @media screen and (min-width: 551px) and (max-width: 630px) {    
        padding-top: 27%;
        max-width: 50vw;

    };
    @media screen and (min-width: 631px) and (max-width: 710px) {    
        padding-top: 16%;
        max-width: 50vw;

    };
    @media screen and (min-width: 711px) and (max-width: 790px) {    
        padding-top: 13%;
        max-width: 50vw;

    };
    @media screen and (min-width: 791px) and (max-width: 870px) {    
        padding-top: 10%;
        max-width: 50vw;

    };
    @media screen and (min-width: 871px) and (max-width: 950px) {    
        padding-top: 7%;
    };
    @media screen and (min-width: 951px) and (max-width: 1030px) {    
        padding-top: 4%;
    };
    max-width: 36vw;
    max-height: 50vw;
}
