.walletDataPaperComponent{
    background-color: rgba(52,52,52, 0.8) !important;
    width: 350px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.walletPageDataField{
    margin: 25px
}