
.container{
    height: 48rem;

    .background {
        background-image: url("../assets/dtc-logo-black.png");
        background-size: 160px;
        height:100%;
    }
}
.linkDiv{
    background-color: black;
    border: solid black;
    border-radius: 10px;
    .navBar{
        padding-left: 77%;
        color: white;
        .navLink{
            font-family: 'Julius Sans One', sans-serif;
            color: white;
            text-decoration: none;
        }
    }
}
