
.container{
    height: 48rem;

    .background {
        background-image: url("../assets/dtc-logo-black.png");
        background-size: 160px;
        height:100%;

        .scrollable{
            height: 90%; /* or any value */
            overflow-y: auto;
            width: 100%;
            background-color: transparent;
            .transparentDiv__homePage{
                @media screen and (max-width: 480px) {
                    padding-left: 1.5%;    
                    width: 100%;        
                };
                width: 65%;
                height: 75%;
                padding-left: 17.5%;
                padding-top: 4%;
                padding-bottom: 4%;
                .carouselDiv{
                    background-color: black;
                    border: solid black;
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    .videoContainerDiv{
                        @media screen and (max-width: 480px) {
                            padding: 1.5%;    
                        };
                    }
                }
            }
        }
        .carouselContainer{
            height: 15%;
            width: 45%;
            background-color: black;
        }
    }
}
.linkDiv{
    background-color: black;
    border: solid black;
    height: 35px;
    border-radius: 10px;
    .navBar{
        text-align: center;
        color: white;
        .navLink{
            font-family: 'Julius Sans One', sans-serif;
            @media screen and (max-width: 480px) {
                font-size: large;            
            };
            color: white;
            text-decoration: none;
        }
    }
}
