.buttonField{
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #343434 !important;
};
.transparentBackground.buttonField{
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: transparent  !important;
    box-shadow: 0 0 0 0 !important;
}
