.subscriptionSection{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    align-items: center;
    .subscribeButtonDiv{
        width: 9%;
        margin-bottom: 1rem;

        .subscriptionButton{
            border-radius: 10px;
        }
    }

    .updateButtonDiv{
        padding-bottom: 75px;

        .updateButton{
            border-radius: 10px;
        }
    }
}
.adminSection{
    margin-top: 375px;
}