.css-l2afvv-MuiPaper-root-MuiCard-root{
    background-color: transparent !important;
}
.cardComponent{
    height: 500px;
    background-color: transparent !important;
    min-width: 365px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.FileUploaderButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.deleteFileButtonDiv{
    padding: 0 !important;
    height: 0;
    display: flex;
    justify-content: left;
    width: 100%;
    z-index: 5;
}