.photoCarouselContainer{
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .photoCarouselDiv{
        height: 330px;
        width: 350px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        display: flex;
        border-radius: 15px;
        .fileContainer{
            height: 357px;
            margin-left: 10px;
            margin-right: 10px;
            .removeFileDiv{
                position: relative;
                left: -317px;
                top: 15px;
            }
            .addFileDiv{
                position: relative;
                top: 265px;
                left: -316px;
            }
        }
    }
    .addFileDiv{
        position: relative;
        top: -6px;
        left: -140px;
        margin-top: -29px;
    }
    .editFileCarousel{
        position: relative;
        top: -35px;
        left: 140px;
    }
}