.accordianField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #343434 !important;
    color: white !important;
}

.title{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.accordianField_containter{ 
    width: 100%;
}

.css-yw020d-MuiAccordionSummary-expandIconWrapper{
    color: white !important;
}

.MuiCollapse-root{
    width: 100% !important;
}

.MuiAccordionDetails-root{
    display: flex;
    justify-content: center;
    align-items: center;
}