.datePicker {
    background-color: rgba(52,52,52, 0.8);
    color: white
}
.datePickerEditButton{
    position: relative;
    left: 55%;
    bottom: 46px;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    color: white !important
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
    color: white !important
}
.css-zr0318-MuiInputBase-root-MuiOutlinedInput-root{
    color: white !important;
}
.css-1dovf4j-MuiTypography-root{
    color: white;
}
.css-1jrj5jc-MuiFormLabel-root-MuiInputLabel-root{
    color: white !important;
}
.css-dl8m4w-MuiFormLabel-root-MuiInputLabel-root{
    color: white !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled{
    color: rgba(255, 255, 255, 0.5) !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.5) !important
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled{
    color: rgba(255, 255, 255, 0.5) !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.5) !important
}