.imageDivContainer{
    float: left;
    width: 330px;
    border-radius: 10px;
    height: 500px;
    margin: auto;
    padding-top: 27px;
    margin-left: 11.5px;
    margin-right: 11.5px;
    .imageDiv{
        @media screen and (max-width: 900px){
            width: 100%;
        };
        width: 100%;
        height: 443px;
        float: left;
        display: flex;
        margin: 0.25%;
        border: solid;
        border-radius: 15px;
        border:rgb(37, 37, 37);
        background-color: rgb(245, 245, 245);
        box-shadow: 0 5px 16px rgb(0 0 0 / 20%);
        img{
            max-width: 100%;
            max-height: 100%;
            border-radius: 15px;
        }
        .errorMsg{
            float: left;
            color: red;
            margin-left: -312px;
            width: 330px;
            margin-top: 351px;
            font-size: 15px ;
            text-align: center;
        }
    }
    .imageInputButton{
        padding-left: 108px;
        width: 92px;
        margin-bottom: 1rem;
    }
}
