.container_homePage{
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    .transparentDiv__homePage__roadMap{
        @media screen and (max-width: 650px) {
            width: 95%;
            margin-top: 90px;
        };
        width: 65%;
        height: 70%;
        padding-top: 4%;
        .roadMapContentDiv{
            box-shadow: 0 5px 16px rgb(0 0 0 / 20%);
            opacity: 0.978;
            background-color: white;
            border-radius: 10px;
            height: 100%;
            .missionStatementContentContainer{
                background-color: transparent;
                padding-top: 3%;
                .roadMapDiv{
                    margin-left: 5%;
                    width: 90%;
                }
            }
        }
    }
    .registryButtonDiv{
        background-color: white;
        @media screen and (max-width: 650px) {
            width: 95%;
        };
        width: 65%;
        .registryButton{
            width: 100%;
            height: 50px;
            border-radius: 10px;
            font-size: 25px;
            font-family: 'Courier New', monospace;
        }
    }

    .switchDiv{
        @media screen and (max-width: 650px) {
            width: 95%;
        };
        box-shadow: 0 5px 16px rgb(0 0 0 / 20%);
        opacity: 0.978;
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        margin: 40px 0 40px 0;

    }
    
    .transparentDiv__homePage__dataFields{
        @media screen and (max-width: 650px) {
            width: 95%;
            margin-top: 90px;
        };
        width: 65%;
        height: auto;
        padding-top: 4%;
        padding-bottom: 4%;
        margin-top: 60px;
        .AnalyticsDiv{
            box-shadow: 0 5px 16px rgb(0 0 0 / 20%);
            opacity: 0.978;
            background-color: white;
            border-radius: 10px;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            .AnalyticsContentContainer{
                background-color: transparent;
                display: flex;
                flex-direction: column;
                .requestingAccessH4{
                    font-family: 'Courier New', monospace;
                    text-align: center
                };
                .dataFieldRow{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-bottom: solid rgb(122, 122, 122) .5px;
                    .canisterDataDiv{
                        width: 100%;
                    }
                    .approvalStatusDiv{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.dataFieldRow{
    width: 100%;
    border-bottom: solid rgb(122, 122, 122) .5px;
    margin-top: 10px;
}

.rowSection1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rowSection2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.array.section{
    width: 100%;
    flex-direction: column;
}
.section{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;    
    .lebelH5{
        font-family: 'Courier New', monospace;
    }
    .h5DataField{
        @media screen and (max-width: 650px) {
            width: 80%;
        };
        font-family: 'Courier New', monospace;
        margin: 0 39px 0 39px;
        width: 90%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    img{
        max-width: 90px;
        max-height: 90px;
        display: block;
    }
}