.journalPageContainer{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .addFileDiv{
        background-color: white;
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
    }
    .removeFileDiv{
        width: 50px;
        height: 50px;
        position: relative;
        top: 90px;
        left: 25px;
    }
    .submitButtonDiv{
        font-family: 'Courier New', monospace;
        font-size: 13px;
        background-color: white;
        position: fixed;
        bottom: 30px;
        left: 30px;
        width: 50px;
        height: 50px;
        
    }
    .journalText{
        max-width: 90%;
        width: 1000px;
        display: flex;
        flex-direction: column;
    }
    .fileContainer{
        float: left;
        @media screen and (min-width: 1205px) and (max-width: 1260px) {    
            margin-left: 12.5%;
        };
        @media screen and (min-width: 1135px) and (max-width: 1204px) {    
            margin-left: 12%;
        };
        @media screen and (min-width: 1065px) and (max-width: 1134px) {    
            margin-left: 10%;
        };
        @media screen and (min-width: 995px) and (max-width: 1064px) {    
            margin-left: 8.5%;
        };
        @media screen and (min-width: 915px) and (max-width: 994px) {    
            margin-left: 6.5%;
        };
        @media screen and (min-width: 845px) and (max-width: 914px) {    
            margin-left: 4.5%;
        };
        @media screen and (min-width: 775px) and (max-width: 844px) {    
            margin-left: 3.5%;
        };
        @media screen and (min-width: 660px) and (max-width: 774px) {    
            margin-left: 23%;
        };
        @media screen and (min-width: 590px) and (max-width: 659px) {    
            margin-left: 20%;
        };
        @media screen and (min-width: 520px) and (max-width: 589px) {    
            margin-left: 16%;
        };
        @media screen and (min-width: 450px) and (max-width: 519px) {    
            margin-left: 12%;
        };
        @media screen and (min-width: 380px) and (max-width: 449px) {    
            margin-left: 4%;
        };
    }

    .recipientEmailsDiv{
        width: 40%;
        margin-top: 37%;
    }

    .logoDiv{
        width: 1100px;
        max-width: 90%;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
        .buttonContainer.left{
            @media screen and (max-width: 1110px) {    
                margin-left: 22px;
            };
            float: left;
            margin-left: 7%;
        };
        .buttonContainer.right{
            @media screen and (max-width: 1110px) {    
                margin-right: 22px;
            };
            float: right;
            margin-right: 7%;
        };
        .buttonContainer{
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            .backButtonDiv{
                width: 50px;
                height: 50px;
                background-color: white;
                
            };
            .lockButton{
                width: 50px;
                height: 50px;
                background-color: white;
            }
            .switchDiv{
                .switchH5{
                    font-family: 'Courier New', monospace;
                }
                max-width: 60%;
                align-items: center;
                display: flex;
                margin-left: 27%;
            }
        }
    }

    .input-element-div__entry{
        .enabled{
            border-width: 1px 1px 1px;
            border-radius: 10px;
            height: 20rem;
        }
        .disabled{
            border-radius: 10px;
            height: 20rem;
        }
        
    }
}