.container_journal_buttons{
    width:300px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}



.journalButtonOne{
    width:130px;
    height:100%;
}

.journalButtonOne.active{
    box-shadow: 2px 2px 20px 10px white;
    // background-color:white;
}

.journalButtonTwo.active{
    box-shadow: 2px 2px 20px 10px white;
}

.journalButtonTwo{
    width:130px;
    height:100%;
}