.container{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    .loadContentContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .loadContentDiv{
            width: 195px;
            height: 190px;
            margin-bottom: 25px;
            box-shadow: 0 5px 16px rgb(0 0 0 / 20%);
            background-color: white;
            border-radius: 10px;
            img{
                max-height: 13vw;
            }
        };
        .loginButtonDiv{
            display: flex;
            justify-content: center;        
        }
    };
};  
