.notificationsTableDivContainer{
    width: 100%;
    float: left;
    .tableDiv{
      width: 100%;
      float: left;
      height: 465px;
      border-radius: 10px;
      box-shadow: 0 5px 16px rgb(0 0 0 / 20%);
      .tableHeader{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1rem;
        color: rgb(122, 122, 122);
        border-collapse: collapse;
        width: 100%;
        .tableRow{
          border-bottom: solid rgb(122, 122, 122) .5px;
          width: 100%;
          padding-bottom: .5rem;
          .tableCell{
            width: 25%;
            text-align: center;
            padding: 0.5rem;
            .openButton{
              border-radius: 10px;
            }
          }
        }
      }
      .scrollable{
        height: 430px;
        overflow-y: auto;
        width: 100%;
        .table{
          font-family: 'Julius Sans One', sans-serif;
          font-size: 1rem;
          color: rgb(122, 122, 122);
          border-collapse: collapse;
          width: 100%;
          .tableRow{
            border-bottom: solid rgb(122, 122, 122) .5px;
            width: 100%;
            padding-bottom: .5rem;
            .tableCell{
              width: 25%;
              text-align: center;
              padding: 0.5rem;
            }
          }
        }
    
      }
    
    }
  
    .addNewEntryButtonDiv{
      width: 90%;
      margin-left: 5%;
      float: left;
      .addNewEntryButton{
        background-color: rgb(230, 230, 230);
        border-radius: 25px;
        border-color: rgb(230, 230, 230);
        width: 100%;
      }
    }
  }