.ApiResponseModalContentContainer{
    .ApiResponseModalContentDiv{
        &__success{
            color:seagreen;
            padding-top: 3%;
            text-align: center;
            img{
                max-width: 40vw;
                max-height: 40vw;
            }
        }

        &__fail{
            color: red;
            padding-top: 3%;
            text-align: center;
        }
    }
    .buttonDiv{
        text-align: center;
        .button{
            height: 45px;
            border-radius: 10px;
            width: 90%;
        }
    }
}

.sendContentDiv{
    @media screen and (max-width: 470px) {    
        padding-top: 45%;

    };
    @media screen and (min-width: 471px) and (max-width: 550px) {    
        padding-top: 40%;

    };
    @media screen and (min-width: 551px) and (max-width: 630px) {    
        padding-top: 27%;

    };
    @media screen and (min-width: 631px) and (max-width: 710px) {    
        padding-top: 16%;

    };
    @media screen and (min-width: 711px) and (max-width: 790px) {    
        padding-top: 13%;

    };
    @media screen and (min-width: 791px) and (max-width: 870px) {    
        padding-top: 10%;

    };
    @media screen and (min-width: 871px) and (max-width: 950px) {    
        padding-top: 7%;
    };
    @media screen and (min-width: 951px) and (max-width: 1030px) {    
        padding-top: 4%;
    };
    width: 90%;
    margin-left: 5%;

    .recipientAdressDiv{
        padding-top: 10%;
        padding-left: 10%;
        width: 80%;
    
    }
    
    .ammountDiv{
        padding-top: 5%;
        padding-left: 10%;
        width: 80%;
    }

    .ModalContentOnSendButtons{
        padding-top: 10%;
        text-align: center;
        .button{
            border-radius: 10px;
            width: 10rem;
            height: 3rem;
        }
    }
}

.loadGif{
    @media screen and (max-width: 470px) {    
        padding-top: 45%;
        max-width: 50vw;

    };
    @media screen and (min-width: 471px) and (max-width: 550px) {    
        padding-top: 40%;
        max-width: 50vw;

    };
    @media screen and (min-width: 551px) and (max-width: 630px) {    
        padding-top: 27%;
        max-width: 50vw;

    };
    @media screen and (min-width: 631px) and (max-width: 710px) {    
        padding-top: 16%;
        max-width: 50vw;

    };
    @media screen and (min-width: 711px) and (max-width: 790px) {    
        padding-top: 13%;
        max-width: 50vw;

    };
    @media screen and (min-width: 791px) and (max-width: 870px) {    
        padding-top: 10%;
        max-width: 50vw;

    };
    @media screen and (min-width: 871px) and (max-width: 950px) {    
        padding-top: 7%;
    };
    @media screen and (min-width: 951px) and (max-width: 1030px) {    
        padding-top: 4%;
    };
    max-width: 36vw;
    max-height: 50vw;
}
