.container{
    width: 100%;

    .background{

        .logoDivContainer{
            padding-top: 3.5%;
            .logoDiv{
                @media screen and (max-width: 426px) {    
                    max-width: 100%;
                    margin-left: 0%;
                };
                @media screen and (min-width: 427px) and (max-width: 936px) {    
                    max-width: 80%;
                    margin-left: 10%;
                };
                box-shadow: 0 144px 227px rgb(0 0 0 / 20%);
                background-color: rgb(233, 233, 233);
                max-width: 50%;
                height: 42rem;
                margin-left:25%;
                margin-bottom: 3.5rem;
        
                .subscriptionSection{
                    width: 90%;
                    margin-left: 5%;
            
                    .subscribeButtonDiv{
                        width: 9%;
                        margin-left: 39%;
                        margin-bottom: 1rem;
            
                        .subscriptionButton{
                            border-radius: 10px;
                        }
                    }
        
                    .updateButtonDiv{
                        width: 42%;
                        margin-left: 27.5%;
                        margin-bottom: 1rem;
            
                        .updateButton{
                            border-radius: 10px;
                            margin-left: 10%;
                            width: 90%;
                        }
                    }
                }
            }
        }
        
    }

}