.container_wallet_buttons{
    width:300px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}



.walletButtonOne,.walletButtonTwo,.walletButtonThree,.walletButtonFour{
    width:50px;
    height:100%;
}

.walletButtonOne.active,.walletButtonTwo.active,.walletButtonThree.active,.walletButtonFour.active{
    box-shadow: 2px 2px 20px 10px white;
    // background-color:white;
}