.container{
    height: 48rem;
    .background{
        background-image: url("../../assets/dtc-logo-black.png");
        background-size: 160px;
        height:100%;
        position: relative;

        .scrollable{
            height: 90%; /* or any value */
            overflow-y: auto;
            width: 100%;
            background-color: transparent;

            .transparentDiv{
                @media screen and (max-width: 980px) {
                    width: 95%;  
                    padding-left: 2.5%;
                };
                width: 65%;
                height: 75%;
                padding-left: 17.7%;
                padding-top: 4%;
                padding-bottom: 4%;
                .infoDiv{
                    @media screen and (max-width: 370px){
                        height: 94%; 
                    }
                    background: white;
                    box-shadow: 0 5px 16px rgb(0 0 0 / 20%);
                    border-radius: 10px;
                    width: 100%;
                    height: 500px;
                    .balanceDiv{
                        padding-top: 7%;
                        padding-left: 5%;
                        font-family: 'Julius Sans One', sans-serif;
                        font-size: 1.75rem;
                        color: rgb(163, 163, 163);
                    }
                    .walletAddressDiv{
                        width: 100%;
                        float: left;
                        margin-top: 6rem;
                        padding-bottom: 17px;
                        padding-left: 5%;
                        font-family: 'Julius Sans One', sans-serif;
                        font-size: 1rem;
                        color: rgb(163, 163, 163);
                        .firstPTag{
                            float: left;
                            margin-right: 10px;
                        };
                        .secondPTag{
                            float: left;
                            padding-left: 2px;
                            width: 75%;
                        };

                    }
                    .copyWalletAddressButton{
                        padding-top: 6px;
                        margin-left: 5%;
                        margin-bottom: 50px;
                        width: 100%;
                        float: left;
                        .button{
                            border-radius: 10px;
                            width: 10rem
                        };
                    };
                    .buttonsDiv{
                        padding-top: 3rem;
                        padding-left: 5%;
                        .button{
                            border-radius: 10px;
                            width: 10rem;
                            height: 3rem;
                        }
                    }
                }
            }
        }
    }
    .linkDiv_Wallet{
        background-color: black;
        border: solid black;
        border-radius: 10px;
        height: 35px;
        .navBar_Wallet{
            width: 100%;
            color: white;
            .linkContainer{
                margin-top: 2px;
                .timeCapsuleLinkDiv{
                    float: left;
                    border-radius: 10px;
                    background-color: white;
                    margin-left: 2%;
                    width: 195px;
                    .navLink_Wallet{
                        font-family: 'Julius Sans One', sans-serif;
                        padding-left: 10%;
                        text-decoration: none;
                    }
                }
                .accountIconLinkDiv{
                    float: right;
                    padding-right: 2%;
                    .navLink_Wallet{
                        font-family: 'Julius Sans One', sans-serif;
                        color: black;
                        text-decoration: none;
        
                        .accountIcon_Wallet{
                            height: 2rem;
                            border-radius: 10px;
                        }
                    }
                }
                .dashboardIconDiv{
                    width: 33px;
                    height: 32px;
                    background: white;
                    border-radius: 10px;
                    float: right;
                    margin-right: 5px;
                    
                    img{
                      max-width: 30px;
                      max-height: 30px;
                      margin-left: 1px;
                      margin-top: 0px;
                    }
                  }
            }
        }
    }
};
