.onSubmitModalContentDiv{
    .submitSucessful{
        color:seagreen;
        padding-top: 3%;
        text-align: center;
        img{
            @media screen and (max-width: 470px) {    
                max-width: 42vw;
                max-height: 42vw;
            };
            @media screen and (min-width: 471px) and (max-width: 550px) {    
                max-width: 40vw;
                max-height: 40vw;
            };
            @media screen and (min-width: 551px) and (max-width: 630px) {    
                max-width: 38vw;
                max-height: 38vw;
            };
            @media screen and (min-width: 631px) and (max-width: 710px) {    
                max-width: 36vw;
                max-height: 36vw;
            };
            @media screen and (min-width: 711px) and (max-width: 790px) {    
                max-width: 34vw;
                max-height: 34vw;
            };
            @media screen and (min-width: 791px) and (max-width: 870px) {    
                max-width: 32vw;
                max-height: 32vw;
            };
            @media screen and (min-width: 871px) and (max-width: 950px) {    
                max-width: 30vw;
                max-height: 30vw;
            };
            @media screen and (min-width: 951px) and (max-width: 1030px) {    
                max-width: 28vw;
                max-height: 28vw;
            };
            max-width: 20vw;
            max-height: 20vw;
        }

    }
    .submitFailed{
        color: red;
        padding-top: 3%;
        text-align: center;
        img{
            @media screen and (max-width: 470px) {    
                max-width: 42vw;
                max-height: 42vw;
            };
            @media screen and (min-width: 471px) and (max-width: 550px) {    
                max-width: 40vw;
                max-height: 40vw;
            };
            @media screen and (min-width: 551px) and (max-width: 630px) {    
                max-width: 38vw;
                max-height: 38vw;
            };
            @media screen and (min-width: 631px) and (max-width: 710px) {    
                max-width: 36vw;
                max-height: 36vw;
            };
            @media screen and (min-width: 711px) and (max-width: 790px) {    
                max-width: 34vw;
                max-height: 34vw;
            };
            @media screen and (min-width: 791px) and (max-width: 870px) {    
                max-width: 32vw;
                max-height: 32vw;
            };
            @media screen and (min-width: 871px) and (max-width: 950px) {    
                max-width: 30vw;
                max-height: 30vw;
            };
            @media screen and (min-width: 951px) and (max-width: 1030px) {    
                max-width: 28vw;
                max-height: 28vw;
            };
            max-width: 20vw;
            max-height: 20vw;
        }
    }
    .buttonDiv{
        text-align: center;
        .button{
            height: 45px;
            border-radius: 10px;
            width: 90%;
        }
    }
}